# Virtual environment
env/
.venv/
ENV/

# Environment variable file
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Media files (optional)
media/

# VS Code settings
.vscode/
